




<app-profileheader></app-profileheader>
<mat-divider></mat-divider>

<mat-drawer-container>
  <mat-drawer-content>
<!-- Start Feedback Area -->
<section class="feedback-area ptb-70 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Super Elegant Models</h2>
            <div class="bar"></div>
            <p>View and pleasure yourself with these super elegant models.</p>
        </div>

        
        <div class="feedback-slides">
            <div class="client-feedback">
                <div>
                    <ngx-slick-carousel
                        class="carousel feedback"
                        #slickModal="slick-carousel"
                        [config]="imagesSlider">
                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/1.jpg" alt="image">
                                </div>

                                <h3>Lanre Adebola</h3>
                                <span>Chief Content Officer</span>
                                <p>I use Payxef to reconcile all my payment gateways in my small farm project. I have multiple collection points so I faced the challenge of logging to each payment channel to view my transactions. Payxef solved that challenge for my company seamlessly.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/2.jpg" alt="image">
                                </div>

                                <h3>Olusola Adegoke</h3>
                                <span>Web Developer</span>
                                <p>Payxef helped me to reconcile all my integrated payment channels simply by connecting them to my Dashboard on Payxef.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/3.jpg" alt="image">
                                </div>

                                <h3>Maxwel Martins</h3>
                                <span>Data Engineer</span>
                                <p>I have been waiting for a solution like Payxef. Now its finally here. Thanks to the Payxef team for solving my reconciliation challenges.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/4.jpg" alt="image">
                                </div>

                                <h3>Jay Williams</h3>
                                <span>Chief Account Officer</span>
                                <p>I used to close by midnight daily logging to all our payment gateway accounts. As the Chief reconciliation officer, at times I resume the following day without getting back to my family. Payxef simply took that burden away from me. I can now step outside my office while still carrying out my duties.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/5.jpg" alt="image">
                                </div>

                                <h3>James Izunna</h3>
                                <span>Product Manager</span>
                                <p>So grateful to the Payxef team for taking this yoke off me.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/1.jpg" alt="image">
                                </div>

                                <h3>Fredrick Peters</h3>
                                <span>CTO</span>
                                <p>We just plugged in Payxef portal to visualise all our distributed payment data on a single platform. The experience is amazing.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/2.jpg" alt="image">
                                </div>

                                <h3>Felicity Chima</h3>
                                <span>Business Intelligence</span>
                                <p>We use Payxef to aggregate all our payment data touchpoints right on one portal.</p>
                            </div>
                        </div>

                        <div ngxSlickItem class="item slide">
                            <div class="single-feedback">
                                <div class="client-img">
                                    <img src="assets/img/client-image/3.jpg" alt="image">
                                </div>

                                <h3>Usman Abubakar</h3>
                                <span>CTO</span>
                                <p>PAYXEF enables me to view our financials in just one portal.</p>
                            </div>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>

            <div class="client-thumbnails">
                <div>
                    <ngx-slick-carousel
                        class="carousel thumbs"
                        #slickModal="slick-carousel"
                        [config]="thumbnailsSlider">
                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/1.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/2.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/3.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/4.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/5.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/1.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/2.jpg" alt="client"></div>
                        </div>

                        <div ngxSlickItem class="item">
                            <div class="img-fill"><img src="assets/img/client-image/3.jpg" alt="client"></div>
                        </div>
                    </ngx-slick-carousel>
                </div>

                <button class="prev-arrow slick-arrow">
                    <i class="fas fa-arrow-left"></i>
                </button>

                <button class="next-arrow slick-arrow">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>
<!-- End Feedback Area -->






  </mat-drawer-content>

</mat-drawer-container>

<app-profilefooter></app-profilefooter>