
        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%"  class="items" [class.selected] ="isSelectedModel(photo)"
            *ngFor="let photo of photos| paginate: { id: 'listing_pagination', itemsPerPage: 12, currentPage: page, totalItems: totalRecords }">
            <mat-card class="mat-elevation-z4">
             
              <mat-card-content (click)="viewPhoto(photo)">
                
                  <img mat-card-image src="{{photo.imageUrl}}">
                
                <p>
                  {{photo.imageTitle}}
                </p>
                
                  {{photo.imageDesc}}
                
                <button type="submit" class="btn btn-primary" (click)="viewPhoto(photo)">View Model</button>

              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>FOLLOW ME</button>
              </mat-card-actions>
            </mat-card>
          </div>
          <div>
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
            </pagination-controls>
          </div>
        </div>
  
     
