<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" class="items"
    [class.selected]="isSelectedModel(video)"
    *ngFor="let video of videos| paginate: { id: 'listing_pagination', itemsPerPage: 12, currentPage: page, totalItems: totalRecords }">
    <mat-card class="mat-elevation-z4">

      <mat-card-content>
        <video mat-card-image width="320" height="240" controls style="filter: blur(15px);">
          <source src="{{video.videoUrl}}" type="video/mp4">
        </video>

        <p>
          {{video.videoTitle}}
        </p>
        <a>
          {{video.videoDesc}}
        </a>

      </mat-card-content>
      <mat-card-actions>

        <span>
          <button type="submit" class="btn btn-primary" (click)="payNaira(video)">Pay NGN
            {{video.chargeNGN}}</button>
        </span>
        <span class="danger">{{responseMessage}}</span>
        <span>
          <button type="submit" class="btn btn-primary" (click)="payUSD(video)">Pay USD {{video.chargeUSD}}</button>
        </span>


      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
    </pagination-controls>
  </div>
</div>