<app-header></app-header>

<!-- Start Main Banner Area -->
<div class="main-banner-section jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-content">
                            <h1> Models, Modelling Agencies and Fans are linked @PingModels.com
                            </h1>
                            <p>Start making money today, share your most enticing modelling pictures and videos</p>
                            <a [routerLink]="['/model/register']" class="btn btn-primary">Join today</a>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        
                        <div class="money-transfer-form">
                            <form>
                                <div class="form-group">
                                    <label>You can earn in Dollars </label>
                                    <div class="money-transfer-field">
                                        <input type="text" class="form-control" autocomplete="off" value="1,000"> Tokens

                                        <div class="amount-currency-select">
                                            <select>
                                                <option>NGN</option>
                                                <option>USD</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="currency-info">
                                    <div class="bar"></div>
                                    <span><strong>400</strong> Exchange Rate</span>
                                    <span><strong>$5.00</strong> Transaction fee</span>
                                </div>

                                <div class="form-group">
                                    <label>Your Posts</label>
                                    <div class="money-transfer-field">
                                        <input type="text" class="form-control" autocomplete="off" value="1,000"> Photos and Videos

                                        <div class="amount-currency-select">
                                            <select>
                                                <option>USD</option>
                                                <option>NGN</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="money-transfer-info">
                                    <span>You could make <strong>1,010.32 USD</strong></span>
                                </div>
                                
                                
                                <button type="submit" class="btn btn-primary"> <a [routerLink]="['/model/register']"> Become a Model </a></button>

                                <div class="terms-info">
                                    <p>By clicking  to continue, I agree I am 18+ and with <a href="#">Terms & Policy</a></p>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<!-- Start Featured Boxes Area -->
<section class="featured-boxes-area">
    <div class="container">
        <div class="featured-boxes-inner">
            <div class="row m-0">
                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-fb7756">
                            <i class="flaticon-piggy-bank"></i>
                        </div>

                        <h3>Join Ping Models</h3>
                        <p>Upload your Portfolio </p>
                        <a href="features-1.html" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-facd60">
                            <i class="flaticon-data-encryption"></i>
                        </div>

                        <h3>Subscribe</h3>
                        <p>Buy tokens and post more pictures. The more the pictures, the more money you could earn.</p>

                        <a href="features-1.html" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-1ac0c6">
                            <i class="flaticon-wallet"></i>
                        </div>

                        <h3>Post Private Pictures and Videos</h3>
                        <p>Lock and secure your private assets. Set how much you charge per view. To be viewed on Subscription.</p>

                        <a href="features-1.html" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon">
                            <i class="flaticon-shield"></i>
                        </div>

                        <h3>Instant Cashout</h3>
                        <p>Congratulations!!! You can now accumulate tokens, convert to cash and withdraw your money instantly. </p>

                        <a href="features-1.html" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Boxes Area -->

<!-- Start How It Works Area -->
<section class="how-it-works-area ptb-70">
    <div class="container">
        <div class="section-title">
            <h2>How Ping Modelling Works </h2>
            <div class="bar"></div>
            <p>Ping Modelling converts your social media pictures to money. Earn as you post your modelling pictures and videos</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/1.png" alt="image">

                    <h3>1. Register</h3>
                    <p> Modelling Companies can contact you for offline works. Ensure you leave your contact for agents and fans
</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/2.png" alt="image">

                    <h3>2. Purchase tokens</h3>
                    <p>Purchase tokens and start uploading your pictures and videos. The more your token, the more pictures and videos to upload </p>
                </div>
            </div>

            
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/4.png" alt="image">

                    <h3>3. Upload Photos and Videos</h3>
                    <p>Lock private Picture and Videos you wish to be viewed on subscription. Charge on pay-per-view</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/5.png" alt="image">

                    <h3>4. Grow your followers </h3>
                    <p>Invite more followers from your social media pages to earn more.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/3.png" alt="image">

                    <h3>5. Cashout your tokens</h3>
                    <p> Our cash out service is instant to your designated bank account. Convert your tokens to cash and cash out</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-how-it-works">
                    <img src="assets/img/how-it-works-image/6.png" alt="image">

                    <h3>6. Congratulations</h3>
                    <p> Congratulations!!! You can now enjoy your modelling career more than ever. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It Works Area -->

<app-funfact></app-funfact>

<!-- Start Services Area -->
<section class="services-area ptb-70 pt-0">
    <div class="container-fluid p-0">
        <div class="overview-box">
            <div class="overview-content">
                <div class="content left-content">
                    <span class="sub-title">Fast & Easy Modelling Career Online</span>
                    <h2>for Gents and Ladies </h2>
                    <div class="bar"></div>
                    <p>Check weekly updates from Ping Models Training and Portfolio Management.</p>

                    <ul class="features-list">
                        <li><span><i class="flaticon-check-mark"></i> Free plan available</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Full data privacy compliance</span></li>
                        <li><span><i class="flaticon-check-mark"></i> 100% transparent </span></li>
                        <li><span><i class="flaticon-check-mark"></i> Subscription</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Real-time overview and Pay-Per-View</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Top-rated Platform for Models</span></li>
                    </ul>

                    <a [routerLink]="['/model/register']" class="btn btn-primary">Join today</a>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="assets/img/4.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->


<!-- Start Features Area -->
<section class="features-section ptb-70 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Weekly Contestants</h2>
            <div class="bar"></div>
            <p>Five most viewed models for the week get featured on Ping Models Weekly Contest </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-12">
                <div class="features-box-list">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <div class="features-box">
                                <div class="icon">
                                    <i class="flaticon-settings"></i>
                                </div>

                                <h3>EzzySexy</h3>
                                <p>Join me for a ride and catch me in my hood.</p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <div class="features-box">
                                <div class="icon bg-f78acb">
                                    <i class="flaticon-envelope-of-white-paper"></i>
                                </div>

                                <h3>Pearlbaby</h3>
                                <p>Giving it hot for all the sexy guys and ladies out there.</p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <div class="features-box">
                                <div class="icon bg-cdf1d8">
                                    <i class="flaticon-menu"></i>
                                </div>

                                <h3>Delacruzy</h3>
                                <p>The sweetest Ping guy ever.</p>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-6 col-md-6">
                            <div class="features-box">
                                <div class="icon bg-c679e3">
                                    <i class="flaticon-info"></i>
                                </div>

                                <h3>Blaizerpinky</h3>
                                <p>I still remain the trailblazer at Ping Models.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-12">
                <div class="features-image">
                    <img src="assets/img/features-img1.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->



<!-- Start Fun Facts Area -->
<!--<app-funfact></app-funfact>-->
<!-- End Fun Facts Area -->

<app-feedback></app-feedback>



<!-- Start Blog Area -->
<section class="blog-area ptb-70 pt-0">
    <div class="container">
        <div class="section-title">
            <h2>News for Modelling Careers</h2>
            <div class="bar"></div>
            <p>Here is what is happening around the world for super rich models. Join the millionaires and enhance your Modelling Career.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog-image/1.jpg" alt="image">
                        </a>

                        <div class="date">
                            <i class="far fa-calendar-alt"></i> September 15, 2019
                        </div>
                    </div>

                    <div class="blog-post-content">
                        <h3><a href="#">This Boss Lady made $1million dollars in 6months after becoming a Model</a></h3>

                        <span>by <a href="#">Ping Models</a></span>

                        <p>The Boss lady hammered one million dollars in cash for just being a model for a branded company. Find out more below.</p>

                        <a href="#" class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog-image/2.jpg" alt="image">
                        </a>

                        <div class="date">
                            <i class="far fa-calendar-alt"></i> July 17, 2019
                        </div>
                    </div>

                    <div class="blog-post-content">
                        <h3><a href="#">Tips to Protecting Social Media Photos and Videos</a></h3>

                        <span>by <a href="#">Ping Models</a></span>

                        <p>Find out how you can padlock your social media pictures, vidoes and posts and make more money when your followers view your content.</p>

                        <a href="#" class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="#">
                            <img src="assets/img/blog-image/3.jpg" alt="image">
                        </a>

                        <div class="date">
                            <i class="far fa-calendar-alt"></i> September 19, 2019
                        </div>
                    </div>

                    <div class="blog-post-content">
                        <h3><a href="#">Protect Your Social Media Account from Cyber Attacks</a></h3>

                        <span>by <a href="#">Ping Models</a></span>

                        <p>Hackers are everywhere these days looking for who to scam. Learn how you can protect your social image from hackers.</p>

                        <a href="#" class="read-more-btn">Read More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->

<!-- Start Account Create Area -->
<app-account-button></app-account-button>
<!-- End Account Create Area -->




<app-footer></app-footer>















