<app-profileheader></app-profileheader>
<mat-divider></mat-divider>

<mat-drawer-container>



  <mat-drawer-content>
    <!-- Start How It Works Area -->
    <section class="how-it-works-area ptb-70">
      <div class="container">
        <div class="section-title">
          <h2>Top up your token to post unlimited photos and videos. </h2>
          <div class="bar"></div>
          <p>
            Subscribe to earn from your photos and videos
          </p>

        </div>

        <div class="row">

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 1,000 Token</h3>
              <div class="bar"></div>
              <p>N1,000 for 1,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 1,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>
                
              </ul>
              <button type="submit" class="btn btn-primary"  (click)="pay(1000)">Buy N1,000 </button>
              <button type="submit" class="btn btn-primary">Buy $5 </button>
                           

            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works" >

              <h3>N 3,000 Token</h3>
              <div class="bar"></div>
              <p>3,000 for 3,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 3,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(3000)" >Buy N3,000 </button>
              <button type="submit" class="btn btn-primary">Buy $15 </button>
            </div>
          </div>


          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 5,000 Token</h3>
              <div class="bar"></div>
              <p>N5,000 for 5,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 5,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(5000)">Buy N5,000 </button>
              <button type="submit" class="btn btn-primary">Buy $25 </button>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 10,000 Token</h3>
              <div class="bar"></div>
              <p>N10,000 for 10,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 10,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(10000)">Buy N10,000 </button>
              <button type="submit" class="btn btn-primary">Buy $50 </button>

              

            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 15,000 Token</h3>
              <div class="bar"></div>
              <p>N15,000 for 15,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 15,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(15000)">Buy N15,000 </button>
              <button type="submit" class="btn btn-primary">Buy $75 </button>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 20,000 Token</h3>
              <div class="bar"></div>
              <p>N20,000 for 20,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 20,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(20000)">Buy N20,000 </button>
              <button type="submit" class="btn btn-primary">Buy $100 </button>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 30,000 Token</h3>
              <div class="bar"></div>
              <p>N30,000 for 30,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 30,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(30000)">Buy N30,000 </button>
              <button type="submit" class="btn btn-primary">Buy $150 </button>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 50,000 Token</h3>
              <div class="bar"></div>
              <p>N50,000 for 50,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 50,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(50000)">Buy N50,000 </button>
              <button type="submit" class="btn btn-primary">Buy $250 </button>
            </div>
          </div>



          <div class="col-lg-4 col-sm-6 col-md-6">
            <div class="single-how-it-works">

              <h3>N 100,000 Token</h3>
              <div class="bar"></div>
              <p>N100,000 for 100,000 tokens</p>
              <mat-divider></mat-divider>
              <br>
              <ul class="features-list">
                <li><span><i class="flaticon-check-mark"></i> 100,000 tokens credits</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private photos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited public videos</span></li>
                <li><span><i class="flaticon-check-mark"></i> Upload unlimited private videos</span></li>

              </ul>
              <button type="submit" class="btn btn-primary" (click)="pay(100000)">Buy N100,000 </button>
              <button type="submit" class="btn btn-primary">Buy $500 </button>
            </div>
          </div>




        </div>
      </div>
    </section>

  </mat-drawer-content>

</mat-drawer-container>


<app-profilefooter></app-profilefooter>