<!-- Start Fun Facts Area -->
<section class="funfacts-area ptb-70 pt-0">
    <div class="container">
        <div class="section-title">
            <h2>Accounts and Posts</h2>
            <div class="bar"></div>
            <p>View accounts and posts of models</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="180">00</span>K</h3>
                    <p>Photos</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="20">00</span>K</h3>
                    <p>Posts</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="500">00</span>+</h3>
                    <p>Videos</p>
                </div>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="70">00</span>+</h3>
                    <p>Models</p>
                </div>
            </div>
        </div>

        <div class="contact-cta-box">
            <h3>Want to Become a Model today?</h3>
            <p>Register for our Training and Portfolio Management</p>
            <a href="/model/register"class="btn btn-primary">Become a Model</a>
        </div>

        <div class="map-bg">
            <img src="assets/img/map.png" alt="map">
        </div>
    </div>
</section>
<!-- End Fun Facts Area -->
